In [1]:
import pandas as pd

# Regiment

<div dir = "rtl">
### לפניכם מילון. הכניסו את הנתונים בו ל-DF בשם regiment.

In [2]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

In [3]:
regiment = pd.DataFrame(raw_data)
regiment

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

<div dir = "rtl">
### מה ממוצע לפני ואחרי המבחן עבור כל גדוד (regiment)?

In [4]:
regiment.groupby('regiment').mean()

            preTestScore  postTestScore
regiment
Dragoons           15.50           61.5
Nighthawks         15.25           59.5
Scouts              2.50           66.0

<div dir = "rtl">
### מה ממוצע לפני ואחרי המבחן עבור גדוד ה-Nightwaks?

In [5]:
regiment[regiment['regiment'] == 'Nighthawks'].groupby('regiment').mean()

            preTestScore  postTestScore
regiment
Nighthawks         15.25           59.5

<div dir = "rtl">
### הצג נתונים סטטיסטים כללים עבור כל חברה (company). מהי הפונקציה המתאימה?

In [6]:
regiment.groupby('company').describe()

        preTestScore                             ... postTestScore
               count       mean        std  min  ...           25%   50%   75%   max
company                                          ...
1st              6.0   6.666667   8.524475  2.0  ...         34.25  66.0  70.0  94.0
2nd              6.0  15.500000  14.652645  2.0  ...         58.25  62.0  68.0  94.0

[2 rows x 16 columns]

<div dir = "rtl">
### הציגו את ממוצע הערכים ב-DF בחלוקה לחברה וגדוד.

In [7]:
regiment.groupby(['regiment', 'company']).mean()

                    preTestScore  postTestScore
regiment   company
Dragoons   1st               3.5           47.5
           2nd              27.5           75.5
Nighthawks 1st              14.0           59.5
           2nd              16.5           59.5
Scouts     1st               2.5           66.0
           2nd               2.5           66.0

<div dir = "rtl">
### מה ממוצע הציון לפני המבחן עבור כל חברה? וודאו שהנתונים מוצגים כ-SERIES.

In [8]:
regiment.groupby('company').preTestScore.mean()

company
1st     6.666667
2nd    15.500000
Name: preTestScore, dtype: float64

<div dir = "rtl">
### מה ממוצע הציון אחרי המבחן עבור כל חברה וגדוד? וודאו שהנתונים מוצגים כ-SERIRS.

In [ ]:
regiment.groupby(['regiment', 'company']).postTestScore.mean()

<div dir = "rtl">
### מה ממוצע הציון אחרי המבחן עבור כל חברה וגדוד? הפכו את ה-SERIES ל-DF בעל אינדקס יחיד.

In [ ]:
regiment.groupby(['regiment', 'company']).preTestScore.mean().unstack()

In [ ]:
regiment.groupby(['regiment', 'company']).preTestScore.mean().to_frame().unstack()

<div dir = "rtl">
### עבור כל חברה וגדוד, כמה ערכים קיימים?

In [ ]:
regiment.groupby(['company', 'regiment']).size()

<div dir = "rtl">
### בצעו לולאה עבור הנתונים בחלוקה לגדודים. הדפיסו בכל ריצה של הלולאה את שם הגדוד ואת הקבוצה עצמה (ה-DF).

In [ ]:
# Group the dataframe by regiment, and for each regiment,
for name, group in regiment.groupby('regiment'):
    # print the name of the regiment
    print(name)
    # print the data of that regiment
    print(group)

# Titanic

<div dir = "rtl">
### קראו את הקובץ 'titanic.csv' לתוך DF בשם 'df'.

In [12]:
df = pd.read_csv("https://raw.githubusercontent.com/kita8/PythonCsvData/main/titanic_data.csv")
df.head()

    id  survived  class  ...     fare room  port
0  568         0      3  ...  21.0750  NaN     S
1  375         0      3  ...  21.0750  NaN     S
2  399         0      2  ...  10.5000  NaN     S
3  548         1      2  ...  13.8625  NaN     C
4  796         0      2  ...  13.0000  NaN     S

[5 rows x 13 columns]

<div dir = "rtl">
### כמה גברים וכמה נשים היו על הספינה? חשבו איזה שדה לחשב.

In [ ]:
df.groupby("Sex").nunique()["PassengerId"]

<div dir = "rtl">
### חשבו את הציון הממוצע עבור כל מין.

In [ ]:
df.groupby("Sex").mean()["Age"]

<div dir = "rtl">
### השדה Survived מכיל 1 אם הנוסע שרד את הנסיעה ו-0 אם הוא מת :( חשבו את אחוז ההישרדות בקרב כל הנוסעים.

In [ ]:
df["Survived"].mean()

<div dir = "rtl">
### חשבו את אחוז ההישרדות בקרב נוסעים שקטנים מ-25.

In [ ]:
df.query("Age < 25")["Survived"].mean()

<div dir = "rtl">
### מי שרד יותר? נשים או גברים? חשבו את אחוז ההישרדות של כל מין.

In [ ]:
df.groupby("Sex").mean()["Survived"]

<div dir = "rtl">
### השדה Cabin מורכב מאות ומספר, כאשר האות מייצגת את האזור של התא. 
### אם הייתי רוצה לשרוד בטיטאניק. על איזו מחלקה (Class) ואזור תא (אות ראשונה של Cabin) הייתם ממליצים?

In [ ]:
df["Cabin_Area"] = df["Cabin"].str.slice(0,1)

In [ ]:
df.groupby(["Pclass", "Cabin_Area"]).mean()["Survived"].sort_values(ascending = False)

# Alcohol

<div dir = "rtl">
### קראו את הקובץ 'Alcohol_Consumption.csv' לתוך DF בשם 'drinks'.

In [10]:
drinks = pd.read_csv('https://raw.githubusercontent.com/kita8/PythonCsvData/main/Alcohol.csv')
drinks.head()

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1     GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2     GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3     GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4     GP   F   16       U     GT3       T  ...     2       5        4   6  10  10

[5 rows x 33 columns]

<div dir = "rtl">
### באיה יבשת שותים הכי הרבה בירה?

In [ ]:
drinks.groupby('continent').beer_servings.sum()

<div dir = "rtl">
### עבור כל יבשת, הציגו נתונים סטטיסטים על צריכת היין.

In [ ]:
drinks.groupby('continent').wine_servings.describe()

<div dir = "rtl">
### עבור כל יבשת, הציגו ממוצע של כל השדות.

In [ ]:
drinks.groupby('continent').mean()

<div dir = "rtl">
### עבור כל יבשת, הציגו חציון של כל השדות.

In [ ]:
drinks.groupby('continent').median()

<div dir = "rtl">
### מעצבן לעשות הכל בפונקציה נפרדת. עבור כל יבשת, בצעו את הפעולות החישוביות הבאות בפונקציה יחידה: מינימום, מקסימום, חציון וממוצע.

In [ ]:
drinks.groupby('continent').spirit_servings.agg(['mean', 'median', 'min', 'max'])