In [ ]:
import pandas as pd

# Regiment

<div dir = "rtl">
### לפניכם מילון. הכניסו את הנתונים בו ל-DF בשם regiment.

In [3]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

In [6]:
pd.DataFrame(raw_data)

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

<div dir = "rtl">
### מה ממוצע לפני ואחרי המבחן עבור כל גדוד (regiment)?

<div dir = "rtl">
### מה ממוצע לפני ואחרי המבחן עבור גדוד ה-Nightwaks?

<div dir = "rtl">
### הצג נתונים סטטיסטים כללים עבור כל חברה (company). מהי הפונקציה המתאימה?

<div dir = "rtl">
### הציגו את ממוצע הערכים ב-DF בחלוקה לחברה וגדוד.

<div dir = "rtl">
### מה ממוצע הציון לפני המבחן עבור כל חברה? וודאו שהנתונים מוצגים כ-SERIES.

<div dir = "rtl">
### מה ממוצע הציון אחרי המבחן עבור כל חברה וגדוד? וודאו שהנתונים מוצגים כ-SERIRS.

<div dir = "rtl">
### מה ממוצע הציון אחרי המבחן עבור כל חברה וגדוד? הפכו את ה-SERIES ל-DF בעל אינדקס יחיד.

<div dir = "rtl">
### עבור כל חברה וגדוד, כמה ערכים קיימים?

<div dir = "rtl">
### בצעו לולאה עבור הנתונים בחלוקה לגדודים. הדפיסו בכל ריצה של הלולאה את שם הגדוד ואת הקבוצה עצמה (ה-DF).

# Titanic

<div dir = "rtl">
### קראו את הקובץ 'titanic.csv' לתוך DF בשם 'df'.

<div dir = "rtl">
### כמה גברים וכמה נשים היו על הספינה? חשבו איזה שדה לחשב.

<div dir = "rtl">
### חשבו את הציון הממוצע עבור כל מין.

<div dir = "rtl">
### השדה Survived מכיל 1 אם הנוסע שרד את הנסיעה ו-0 אם הוא מת :( חשבו את אחוז ההישרדות בקרב כל הנוסעים.

<div dir = "rtl">
### חשבו את אחוז ההישרדות בקרב נוסעים שקטנים מ-25.

<div dir = "rtl">
### מי שרד יותר? נשים או גברים? חשבו את אחוז ההישרדות של כל מין.

<div dir = "rtl">
### השדה Cabin מורכב מאות ומספר, כאשר האות מייצגת את האזור של התא. 
### אם הייתי רוצה לשרוד בטיטאניק. על איזו מחלקה (Class) ואזור תא (אות ראשונה של Cabin) הייתם ממליצים?

# Alcohol

<div dir = "rtl">
### קראו את הקובץ 'Alcohol_Consumption.csv' לתוך DF בשם 'drinks'.

<div dir = "rtl">
### באיה יבשת שותים הכי הרבה בירה?

<div dir = "rtl">
### עבור כל יבשת, הציגו נתונים סטטיסטים על צריכת היין.

<div dir = "rtl">
### עבור כל יבשת, הציגו ממוצע של כל השדות.

<div dir = "rtl">
### עבור כל יבשת, הציגו חציון של כל השדות.

<div dir = "rtl">
### מעצבן לעשות הכל בפונקציה נפרדת. עבור כל יבשת, בצעו את הפעולות החישוביות הבאות בפונקציה יחידה: מינימום, מקסימום, חציון וממוצע.